@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  min-height: 88vh
}

.main {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  background: #f4f4f4;
  text-align: center;
  padding: 2em;
}

.header h1 {
  font-size: 2.5em;
}

.footer {
  background: #f76c6c
}

.titleAlign {
  text-align: center;
}

.label {
  margin-bottom: 0.5em;
  display: block;
}


.newMemberForm {
  margin: 2em 0 4em 0;
  text-align: center;
}

.column {
  text-align: center;
  float: left;
  width: 33.33%;

}
.row {
  border-top: 1px solid #f76c6c;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  margin-top: 2em;
  text-align: center;
  color: #fff;
  background: #f76c6c;
  padding: 0.25em 0;
}
.error{
  color: red;
}

.button{
  margin-left: 10px;
  padding: 10px;
  background-color: #f76c6c;
  border-radius: 10px;
  color:white;
  border-color: transparent;
}

.input{
  padding:10px;
}
